/* Arriere plan */
html { 
  background:url(simplon22.jpg) no-repeat ;
  background-size: 1280px 650px;
  height: 1300px;
  width: 1280px;
  margin-left:auto;
  margin-right: auto;
  text-decoration: none;

}

/* Titre SIMPLON */
.title{
  font-family: Verdana, sans-serif;
  font-weight: 800;
  color: transparent;
  font-size:100px;
  background: url("Titre.gif") repeat; 

  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  margin-left: 240px;
  line-height:100px;


}

/* Texte "Promotion..." */
h1{
  background-color: white;
  text-align: center;
  font-family: Courier New;
   margin-left: 325px;
   width: 50%;
   border-style: outset


}


/* Nos prenom en bas de la page */
h2{
  background:white;
  text-align: center;
  font-size: 12px;
  margin-top:100px;
  font-family: Courier New;
  margin-left:-20px;
  margin-right: -10px;
}



/* Les images */
.slideshow-container {
  margin-top:15px;
  max-width: 800px;
  position: relative;
  margin-left: 240px;
  text-align: center;
  margin-bottom: 10px;
  animation: slider 15s infinite;

}


/* Rectangle au bord rouge */
.taille{
  
  
  border:solid #ed1651 1px;

  }



/* Boutons avant & arriere  */
.prev, .next {
  
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-left: -250px;
  margin-right: 145px;
  color:#ed1651;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}


/* Position du bouton droit */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* L'arriere plan des boutons */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Les noms */
.text {
  font-family: Ubuntu Mono ;
  color: #333333;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -35px;
  width: 100%;
  text-align: center;
}


/* Numéro de Photos */
.numbertext {
  color: #8c8c8c;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  margin-left: 220px;
  top: 0;
  text-align:center;
}

/*Transition du carousel*/
.active, .dot:hover {
  background-color: #717171;
}
/*Stylisation du cadre photo*/
 img{
  vertical-align: middle ;
  width:45%; 
  margin-left: 215px;
  border-radius: 2%; 
  box-shadow:6px 6px 6px #888;
}
/* styliser les next prev */
#prev{
  font-size: 20px;
  margin-right: 400px;
  margin-bottom: 250px;
}
#next{
  font-size: 20px;

}
a{
  color: black;
}